<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Crear QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding container">
  <ion-chip id="whatsapp-modal">
    <ion-icon name="logo-whatsapp" expand="block"></ion-icon>
    <ion-label>WhatsApp</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-icon name="chatbubbles"></ion-icon>
    <ion-label>SMS</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-icon name="link"></ion-icon>
    <ion-label>URL</ion-label>
  </ion-chip>
  <div class="custom-input">
    <ion-textarea [(ngModel)]="textoQR" maxlength="250" placeholder="Texto para el QR"></ion-textarea>
  </div>
  <ion-button expand="full" (click)="generarQR()" [disabled]="!textoQR.trim()">Generar QR</ion-button>

  <!-- Mostrar la imagen QR debajo del botón -->
  <div *ngIf="qrImageData" class="qr-container">
    <img [src]="qrImageData" alt="QR Code">
    <ion-button expand="full" (click)="compartirQR()" aria-label="Compartir código QR">Compartir</ion-button>
  </div>
  <ion-modal trigger="whatsapp-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="closeModal()">Cancelar</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="confirmWhatapp()" [strong]="true">Confirmar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Ingresa tu número de WhatsApp"
            labelPlacement="stacked"
            type="text"
            placeholder="+595961344674"
            [(ngModel)]="whatsapp"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Ingresa un mensaje (opcional)"
            labelPlacement="stacked"
            type="text"
            placeholder="¡Buenos Días!"
            [(ngModel)]="whatsappMessage"
          ></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>





