ion-chip {
  width: calc(33.33% - 1rem);
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.qr-container img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-top: 2rem;
}

ion-button, ion-chip, ion-input {
  height: 48px;
}
